@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap');

:root {
  --main-font: 'Ysabeau Infant', sans-serif;
  --secondary-font: 'Unbounded', sans-serif;
  --text-color: #fff;
  --secondary-color: #3E42DF;
  --accent-color: #3937DC;
  --bg-color: #E4F6FF;
}
