.disclaimer {
  background-color: var(--bg-color);
  padding: 36px 20px;

  @media screen and (min-width: 1200px) {
    padding: 52px 88px;
  }

  &__title {
    @include font(900, 28px, 32px);
    color: #3196FF;
    display: inline;
    @media screen and (min-width: 1200px) {
      @include font(900, 32px, 32px);
    }
  }

  &__text {
    @include font(400, 16px, 28px);
    text-align: justify;
    text-transform: uppercase;
    color: #181824;
    display: inline;

    @media screen and (min-width: 1200px) {
      @include font(400, 20px, 32px);
    }
  }
}
