.faq {
  background-image: url('../../images/faq-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  &__item {
    max-width: 924px;
    min-height: 108px;
    width: 100%;
    padding: 28px 20px;

    background-color: var(--text-color);
    border: 1px solid #597BF0;
    border-radius: 20px;
    box-shadow: 0px 4px 28px 0px #4D61E880;
  }

  &__question {
    @include font(800, 18px, 28px);
    color: var(--accent-color);
    margin-bottom: 12px;
    @media screen and (min-width: 1200px) {
      font-size: 20px;
    }
  }

  &__answer {
    @include font(400, 16px, 24px);
    color: #1D1D1D;
    @media screen and (min-width: 1200px) {
      @include font(400, 18px, 28px);
    }
  }
}
